<a href="https://colab.research.google.com/github/dtsri/internship-/blob/main/Data_cleaning_and_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Mall customer segmentation data**

In [ ]:
#importing necessary libraries
import pandas as pd
import numpy as np

In [ ]:
#reading the data using pandas
mallcustomer = pd.read_csv('/content/Mall_Customers.csv')

In [ ]:
#viewing the data using head
mallcustomer.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [ ]:
#using tail to view the last rows of the dataset
mallcustomer.tail()

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

In [ ]:
#using info to know about the dataset
mallcustomer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [ ]:
#checking the null values or missing values
mallcustomer.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [ ]:
#since there are no nulls and lets check the datatypes
mallcustomer.dtypes

CustomerID                 int64
Gender                    object
Age                        int64
Annual Income (k$)         int64
Spending Score (1-100)     int64
dtype: object

In [ ]:
#converting gender column to string
mallcustomer['Gender'].astype(str)

0        Male
1        Male
2      Female
3      Female
4      Female
        ...
195    Female
196    Female
197      Male
198      Male
199      Male
Name: Gender, Length: 200, dtype: object

In [ ]:
#rename the columns
mallcustomer.rename(columns={'Annual Income (k$)': 'Annual_Income', 'Spending Score (1-100)': 'Spending_Score'}, inplace = True)

In [ ]:
#changing gender column male to m , female to f
mallcustomer['Gender'] = mallcustomer['Gender'].replace({'Male': 'm', 'Female': 'f'})

In [ ]:
#checking duplicates
mallcustomer.duplicated().sum()

np.int64(0)

In [ ]:
#there no duplicates nor null values
#checking dataset shape
mallcustomer.shape

(200, 5)

In [ ]:
mallcustomer.head(10)

   CustomerID Gender  Age  Annual_Income  Spending_Score
0           1      m   19             15              39
1           2      m   21             15              81
2           3      f   20             16               6
3           4      f   23             16              77
4           5      f   31             17              40
5           6      f   22             17              76
6           7      f   35             18               6
7           8      f   23             18              94
8           9      m   64             19               3
9          10      f   30             19              72

In [ ]:
#so this dataset is clean and can be used for the next steps like visualization or for the initial steps in any model building

**Sample sales data cleaning**

In [ ]:
#using sample sales data
sales = pd.read_csv('/content/sales_data_sample.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x84 in position 5327: invalid start byte

In [ ]:
#using encoding feature to read and view the sales data
sales = pd.read_csv('/content/sales_data_sample.csv', encoding='latin1')

In [ ]:
#to view the data of the first five rows
sales.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [ ]:
#using tail to view the last records
sales.tail()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

In [ ]:
#to know the shape
sales.shape

(2823, 25)

In [ ]:
#checking the datatypes
sales.dtypes

ORDERNUMBER           int64
QUANTITYORDERED       int64
PRICEEACH           float64
ORDERLINENUMBER       int64
SALES               float64
ORDERDATE            object
STATUS               object
QTR_ID                int64
MONTH_ID              int64
YEAR_ID               int64
PRODUCTLINE          object
MSRP                  int64
PRODUCTCODE          object
CUSTOMERNAME         object
PHONE                object
ADDRESSLINE1         object
ADDRESSLINE2         object
CITY                 object
STATE                object
POSTALCODE           object
COUNTRY              object
TERRITORY            object
CONTACTLASTNAME      object
CONTACTFIRSTNAME     object
DEALSIZE             object
dtype: object

In [ ]:
#to check the information
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

In [ ]:
#so there are a lot of datatypes to be converted into their respective datatypes like phone to int, etc
#checking null and missing values
sales.isnull().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [ ]:
#dropping addressline 2 and state and territory columns as country and city columns are there and seem more important
#and addressline 2 , state and territory have too many null/empty values
sales.drop(['ADDRESSLINE2', 'STATE', 'TERRITORY'], axis=1, inplace=True)

In [ ]:
sales.isnull().sum()

ORDERNUMBER          0
QUANTITYORDERED      0
PRICEEACH            0
ORDERLINENUMBER      0
SALES                0
ORDERDATE            0
STATUS               0
QTR_ID               0
MONTH_ID             0
YEAR_ID              0
PRODUCTLINE          0
MSRP                 0
PRODUCTCODE          0
CUSTOMERNAME         0
PHONE                0
ADDRESSLINE1         0
CITY                 0
POSTALCODE          76
COUNTRY              0
CONTACTLASTNAME      0
CONTACTFIRSTNAME     0
DEALSIZE             0
dtype: int64

In [ ]:
#dropping null values in postal code
sales.dropna(subset=['POSTALCODE'], inplace=True)

In [ ]:
#checking duplicates values
sales.duplicated().sum()

np.int64(0)

In [ ]:
#now there are no duplicates, null or missing values
#converting datatypes

In [ ]:
#converting the orderdate to date datatype
sales['ORDERDATE'] = pd.to_datetime(sales['ORDERDATE'])

In [ ]:
#converting phone to the number datatype
sales['PHONE'] = pd.to_numeric(sales['PHONE'])

ValueError: Unable to parse string "26.47.1555" at position 1

In [ ]:
#since some numbers are starting with 0 and are international its not accepting so converting to string
sales['PHONE'] = sales['PHONE'].astype(str)

In [ ]:
#removing spaces or the dots in phone column
sales['PHONE'] = sales['PHONE'].str.replace('.', '')

In [ ]:
# Converting the cleaned phone column to numeric, coercing errors to NaN
sales['PHONE'] = pd.to_numeric(sales['PHONE'], errors='coerce')

# Check for any NaN values introduced by the conversion
print("NaN values in PHONE after numeric conversion:", sales['PHONE'].isnull().sum())

NaN values in PHONE after numeric conversion: 1575

In [ ]:
# Dropping rows with NaN values only in the 'PHONE' column
sales.dropna(subset=['PHONE'], inplace=True)

# Check the number of null values in the 'PHONE' column after dropping
print("NaN values in PHONE after dropping:", sales['PHONE'].isnull().sum())

# Check the shape of the DataFrame to see how many rows were removed
print("Shape of DataFrame after dropping rows with NaN in PHONE:", sales.shape)

NaN values in PHONE after dropping: 0
Shape of DataFrame after dropping rows with NaN in PHONE: (1172, 22)

In [ ]:
#now checking the datatypes of all the columns
sales.dtypes

ORDERNUMBER                  int64
QUANTITYORDERED              int64
PRICEEACH                  float64
ORDERLINENUMBER              int64
SALES                      float64
ORDERDATE           datetime64[ns]
STATUS                      object
QTR_ID                       int64
MONTH_ID                     int64
YEAR_ID                      int64
PRODUCTLINE                 object
MSRP                         int64
PRODUCTCODE                 object
CUSTOMERNAME                object
PHONE                      float64
ADDRESSLINE1                object
CITY                        object
POSTALCODE                  object
COUNTRY                     object
CONTACTLASTNAME             object
CONTACTFIRSTNAME            object
DEALSIZE                    object
dtype: object

In [ ]:
sales.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2003-02-24,Shipped,1,2,2003,...,S10_1678,Land of Toys Inc.,2.125558e+09,897 Long Airport Avenue,NYC,10022,USA,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,2003-05-07,Shipped,2,5,2003,...,S10_1678,Reims Collectables,2.647156e+07,59 rue de l'Abbaye,Reims,51100,France,Henriot,Paul,Small
3,10145,45,83.26,6,3746.70,2003-08-25,Shipped,3,8,2003,...,S10_1678,Toys4GrownUps.com,6.265557e+09,78934 Hillside Dr.,Pasadena,90003,USA,Young,Julie,Medium
5,10168,36,96.66,1,3479.76,2003-10-28,Shipped,4,10,2003,...,S10_1678,Technics Stores Inc.,6.505557e+09,9408 Furth Circle,Burlingame,94217,USA,Hirano,Juri,Medium
6,10180,29,86.13,9,2497.77,2003-11-11,Shipped,4,11,2003,...,S10_1678,Daedalus Designs Imports,2.016156e+07,"184, chausse de Tournai",Lille,59000,France,Rance,Martine,Small